{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
    <div class="col-md-6 offset-md-3 mt-4">
      <h2>Symptom Analyzer</h2>
      <form method="POST" action="{% url 'symptom_analyzer' %}">
        {% csrf_token %}

        <div class="mb-3">
          <label for="symptoms" class="form-label">Symptoms:</label>
          {{ symptom_form.symptoms }}
        </div>
        <div class="mb-3">
          <label for="selected_symptoms" class="form-label">Selected Symptoms:</label>
          {{ symptom_form.selected_symptoms }}
        </div>
        <button type="submit" class="btn btn-dark">Analyze</button>
      </form>
    </div>
    
    {% else %}
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">Login</h1>
        <form method='POST' action="{% url 'home' %}">
          {% csrf_token %}
          <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-secondary">Login</button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>


</div>

{% endblock %}

<script>
  $(document).ready(function() {
    $('#symptoms-select').select2({
      placeholder: 'Select or Type Symptoms',
      allowClear: true,
      tags: true,
    });
  });
</script>